* {
  border: solid 1px red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: green;
  border-bottom: solid 10px peachpuff;
}

header nav {
  position: absolute;
  right: 10px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  line-height: 77px;
  padding: 0 10px 0 10px;
}

section {
  padding-top: 80px;
}

section h2 {
  padding: 20px 0px;
  font-size: 50px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#middle {
  text-align: center;
}
